* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: Microsoft YaHei,"微软雅黑","\5FAE\8F6F\96C5\9ED1",Arial;
}

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */
{
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body,
button, input, select, textarea /* for ie */
{
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, em, var {
    font-style: normal;
}

/* 将斜体扶正 */
code, kbd, pre, samp {
    font-family: courier new, courier, monospace;
}

/* 统一等宽字体 */
small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/** 重置列表元素 **/
ul, ol {
    list-style: none;
}

/** 重置文本格式元素 **/
a {
    text-decoration: none;
}
a:link,a:visited{
    text-decoration:none;  /*超链接无下划线*/
}

a:hover {
    text-decoration: none;
}

/** 重置表单元素 **/
legend {
    color: #000;
}

/* for ie6 */
fieldset, img {
    border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
    font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */
/** 重置表格元素 **/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*字体图标文件引入*/
@font-face {font-family: "iconfont";
    src: url('../vendors/iconfont/iconfont.eot'); /* IE9*/
    src: url('../vendors/iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../vendors/iconfont/iconfont.woff') format('woff'), /* chrome, firefox */
    url('../vendors/iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../vendors/iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
@font-face {
    font-family: "nasa";
    /*G:\www\data_visualization\static\font\nasa-display.ttf*/
    src: url('../font/nasa-display.ttf'); /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}
.iconfont {
    font-family:"iconfont" !important;
    font-size:18px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.nasa{
    font-family:"nasa" !important;
    font-size:24px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*字体图标文件引入END*/


.layui-layout-body{
    width: 100%;
    height: 100%;
    min-width: 1200px;
    overflow: auto;
}

/*通用颜色代码*/
.bg-color-1{
    background:linear-gradient(#36b5df,#2b91b3);
}
.bg-color-2{
    background:linear-gradient(#81c941,#629931);
}
.bg-color-3{
    background:linear-gradient(#ff9d0b,#cc7e08);
}
.bg-color-4{
    background:linear-gradient(#e25151,#cc7e08);
}
.color-1{
    color: #36b5df;
}
.color-2{
    color: #659e33;
}
.color-3{
    color: #ff9d0b;
}
.color-4{
    color: #e25151;
}
/*数据可视化通用代码*/
body.dark{
    background-image: -moz-linear-gradient( 135deg, rgb(7,10,16) 0%, rgb(46,56,77) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(7,10,16) 0%, rgb(46,56,77) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(7,10,16) 0%, rgb(46,56,77) 100%);
}
.content-body .header{
    font-size: 0;
    height: 60px;
    position: absolute;
    width: 100%;
    z-index: 101;
}


.dark .header{
    background-color: rgba(255,255,255,0.04);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
}
.content-body header>h1{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    line-height:56px;
    padding-left: 20px;
    display: inline-block;
}
.content-body header>h1>span{
    font-size: 14px;
    font-weight: normal;
    display: inline-block;
    padding-left: 10px;
}
.content-body header .layui-nav{
    background-color: rgba(255,255,255,.06);
    border-radius:0;
}

.content-body>header .layui-nav{
    padding:0;
}
.content-body>header .layui-nav .layui-nav-item .other{
    width: 150px;
    height: 60px;
}
.content-body>header .layui-nav .layui-nav-item a>.iconfont{
    padding-right: 10px;
}
.dark .layui-nav-child{
    box-shadow: 0 2px 4px rgba(0,0,0,.8);
    border: 1px solid rgba(0,0,0,.2);
    background-color: rgba(0,0,0,.6);
}
.dark .layui-nav .layui-nav-child a{
    color: #cccccc;
}
.dark .layui-nav .layui-nav-child a:hover{
    background-color: rgba(255,255,255,.2);
}
.layui-layout-body main{
    width: 100%;
    top:60px;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
    z-index: 100;
}
.layui-layout-body main>article{
    width: 100%;
    padding: 10px 10px;
}
.layui-layout-body main>article .layui-col-sm1{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm2{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm3{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm4{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm5{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm6{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm7{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm8{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm9{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm10{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm11{
    padding: 5px 5px;
}
.layui-layout-body main>article .layui-col-sm12{
    padding: 5px 5px;
}
.layui-layout-body .layui-card{
    border-radius: 0;
    background-color: unset;
}
.layui-layout-body .layui-card .layui-card-header{
    position: relative;
    height: 38px;
    line-height: 38px;
    border-bottom:none;
    color: #b9c0c7;
    border-radius: 0;
    background-color: rgba(0,0,0,0.4);
}
.layui-layout-body .layui-card .layui-card-body {
    position: relative;
    padding: 5px 10px;
    background-color: rgba(0,0,0,.3);
    line-height: 24px;
}
.now-charts .layui-card-body{
    height: 100px;
}
.now-charts .layui-col-sm4 .layui-col-sm4{
    height: 100%;
    border-right: 1px solid rgba(255,255,255,0.2);
    background-color: rgba(0,0,0,.3);
}
.now-charts .layui-col-sm4 .layui-col-sm4:last-child{
    border-right: none;
}
.now-charts .layui-col-sm4 .layui-col-sm4>h4{
    width: 100%;
    line-height: 24px;
    margin-top: 10px;
    color: #b9c0c7;
    font-size: 14px;
    text-align: center;
}

.now-charts .layui-col-sm4 .layui-col-sm4>h3{
    margin-top: 6px;
    font-size: 30px;
    color: #8aa8e5;
    width: 100%;
    line-height: 30px;
    text-align: center;
}
.layui-layout-body .now-charts .layui-card .layui-card-body{
    padding: 5px;
}
.now-charts .layui-col-sm8 .layui-col-sm3{
    height: 100%;

}
.now-charts .layui-col-sm8 .layui-col-sm3 .layui-card{
    background-color: rgba(0,0,0,.3);
    height: 100%;
    line-height: 80px;
    padding: 0 10px;
}
.now-charts .layui-col-sm8 .layui-col-sm3 .layui-card>h4{
    line-height: 24px;
    width: 64%;
    padding-left: 20px;
    float: right;
    font-size: 14px;
    color: #a2a9af;
}
.now-charts .layui-col-sm8 .layui-col-sm3 .layui-card>h3{
    line-height: 30px;
    margin-top: 14px;
    font-family: "nasa";
    padding-left: 20px;
    width: 64%;
    float: right;
    color: #cccccc;
    font-size: 24px;
}
.now-charts .layui-col-sm8 .layui-col-sm3 .layui-card>h3>span{
    padding-left: 6px;
    font-size: 16px;
}
.now-charts .layui-col-sm8 .layui-col-sm3 .layui-card .iconfont{
    border-radius: 2px;
    font-size: 30px;
    margin-top: 10px;
    float: left;
    width: 36%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #FFFFFF;
}

.history-btn{
    display: block;
    position: absolute;
    right: 6px;
    top:50%;
    margin-top: -14px;
    width: 20%;
    text-align: center;
    line-height: 28px;
    height: 28px;
    background-color: rgba(20,50,122,0.4);
    cursor: pointer;
    border-radius:2px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.6);
    transition:background-color 0.4s linear;
}
.history-btn:hover{
    background-color: rgba(0,108,255,0.3);
}
.history-btn:active{
    opacity: 0.6;
}

.history-btn .iconfont{
    color: #FFFFFF;
    font-size: 20px;
}

/*自定义弹窗样式*/
body .my-open-class{
    background-image: -moz-linear-gradient( 135deg, rgb(7,10,16) 0%, rgb(46,56,77) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgb(7,10,16) 0%, rgb(46,56,77) 100%);
    background-image: -ms-linear-gradient( 135deg, rgb(7,10,16) 0%, rgb(46,56,77) 100%);
    box-shadow:0 6px 20px 0 rgba(0, 0, 0, 1);
}
body .my-open-class .layui-layer-title{background:rgba(0,0,0,0.4); color:#fff;border-bottom: none}
body .my-demo-class .layui-layer-btn{}
body .my-demo-class .layui-layer-setwin .layui-layer-close1 {
    background-position: 1px -40px;
    cursor: pointer;
}
body .my-demo-class .layui-layer-btn a{background:#333;}
body .my-demo-class .layui-layer-btn .layui-layer-btn1{background:rgba(255,255,255,0.6);}

/*************************数据可视化通用代码 END*************************/




/**  HAMA详情页  样式**/

#rhythm{
    position: relative;
    float: left;
    width: 36%;
    height: 60px;
    border-radius: 4px;
    margin: 10px 0 0 0;
    overflow: hidden;
    background:linear-gradient(#36d1dc,#5b86e5);
}
#rhythm .mask{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1f2736;
    animation-name: mask;
    animation-iteration-count:infinite;
}
#rhythm .iconfont{
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 100%;
}
@keyframes mask
{
    0% {height: 100%;}
    50% {height: 0;}
    100% {height: 100%;}
}



.produce{
    height: 300px;
    position: relative;
}
.produce>h3{
    padding: 10px 0;
    width: 200px;
    border-radius:4px;
    background-color: rgba(0,0,0,0.2);
    font-size: 18px;
    color: #f0f0f0;
    text-align: center;
    margin: 10px auto 0 auto;
}
.produce>h3 .iconfont{
    padding-top: 6px;
    font-weight: 100;
    font-size: 22px;
}
.produce>h4{
    position: absolute;
    width: 160px;
    left: 50%;
    margin-left: -36px;
    color: #FFFFFF;
    bottom: 24px;
}

.row-2>.layui-col-sm3 .layui-card-body{
    height: 300px;
}
.row-2>.layui-col-sm3 .layui-card-body.error-log{
    background-color: rgba(0,0,0,0.6);
    padding:10px 10px;
    overflow-y: auto;
}
.error-log>p{
    line-height: 26px;
    padding: 0 10px;
    color: #8a8d99;
    font-size: 12px;
    /*
    溢出隐藏
    */
    overflow: hidden;
    /*
    显示省略号
    */
    text-overflow: ellipsis;
    /*
    不换行
    */
    white-space: nowrap;
}
.error-log>p>i{
    padding-right: 20px;
    color: #515f91;
    font-style: normal;
}
.error-log>p>span{
    color: #ff3535;
    font-weight: bold;
}
.row-3 .layui-card-body{
    height: 300px;
}
.row-3 .layui-card-body .layui-col-sm3{
    height: 100%;
}
#completionHistory{
    width: 100%;
    height: 100%;
}

.back-btn{
    float: left;
}
.bad-cause .layui-table{
    background:none;
    color: #8a8d99;

}
.bad-cause .layui-table td{
    border-color: rgba(255,255,255,0.1);
    font-size: 12px;
}
.bad-cause .layui-table tbody tr td:nth-child(2){
    color: #ff3535;
}
.bad-cause .layui-table tbody tr:hover{
    background-color: rgba(0,0,0,0.4);
}
.back-btn{
    margin: 10px 10px 0 20px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    height: 40px;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    transition: background-color 0.4s linear;
    border-radius:4px;
}
.back-btn:hover{
    background-color: rgba(0,108,255,0.3);
}
.back-btn:active{
    opacity: 0.6;
}
.back-btn .iconfont{
    font-size: 20px;
    color: #FFFFFF;
}
/**  HAMA详情页 样式END**/





/*HAMA首页 样式*/
 .layui-layout-body main>article .hama-list>.layui-col-sm3{
    padding: 20px;
}
.hama-list>.layui-col-sm3 .layui-card{
    cursor: pointer;
    height: 280px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.6),0 3px 2px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    display: block;
    transition:box-shadow 0.2s linear;
}
.hama-list>.layui-col-sm3 .layui-card:active{
    opacity: 0.6;
}
.hama-list>.layui-col-sm3 .layui-card:hover{
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.9);
}
.hama-list .above{
    height: 160px;
}
.hama-list .above .layui-col-xs5{
    height: 100%;
}
.hama-list .above .layui-col-xs5{
    height: 100%;
    border-right: 1px solid rgba(255,255,255,0.1);
}
.hama-list .above .layui-col-xs5 span{
    display: block;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 16px;
}
.fat span{
    background-image: url("../img/FAT.png");
}
.run span{
    background-image: url("../img/RUN.png");
}
.stp span{
    background-image: url("../img/STP.png");
}
.hama-list .above .layui-col-xs5 h4{
    width: 100%;
    font-size: 18px;
    text-align: center;
}
.hama-list .above .layui-col-xs7{
    height: 100%;
    color: #dedfdf;
    padding: 30px 0;
}
.hama-list .above .layui-col-xs7 label{
    width: 80%;
    color: rgba(255,255,255,0.2);
}

.hama-list .above .layui-col-xs7 *{
    margin-left: 20%;
}
.hama-list .above .layui-col-xs7 h5{
    font-size: 24px;
    font-weight: bold;
}
.hama-list .above .layui-col-xs7 h6{
    font-size: 18px;
}
.fat h4{
    color: #ff3d14;
}
.run h4{
    color: #91f0c3;
}
.stp h4{
    color: #797a7d;
}

.hama-list .below{
    height: 120px;
    background-image: -moz-linear-gradient( 180deg, rgb(75,84,102) 0%, rgb(152,163,185) 100%);
    background-image: -webkit-linear-gradient( 180deg, rgb(75,84,102) 0%, rgb(152,163,185) 100%);
    background-image: -ms-linear-gradient( 180deg, rgb(75,84,102) 0%, rgb(152,163,185) 100%);
}
.hama-list .below .layui-col-sm4{
    height: 100%;
    padding: 20px ;
    color: rgba(0,0,0,0.8);
}
.hama-list .below .layui-col-sm4 p{
    margin-top: 12px;
    width: 100%;
}
.hama-list .below .layui-col-sm4 h6{
    font-size: 30px;
}
.hama-list .below .layui-col-sm4 h6 span{
    font-size: 18px;
}
/*HAMA首页 样式 END*/


